.wcu-container-wrapper {
    &.style1 {
        .wcu-thumb {
            position: relative;
            margin-top: 95px;
            width: 100%;

            >img {
                position: relative;
                width: 100%;
                height: 579px;
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
            }

            .thumb-2 {
                position: absolute;
                top: -65px;
                left: -190px;

                @include xl {
                    left: -100px;
                }

                @include lg {
                    left: 0;
                }

                @include sm {
                    left: 50px;
                }

                img {
                    border-radius: 30px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;
                }
            }
        }
    }
}